#Visual Studio Folder
.vs/

#Checkpoint Files
Lab1/.ipynb_checkpoints

Lab2/.ipynb_checkpoints
Lab3/.ipynb_checkpoints/Finished_Lab3-checkpoint.ipynb
Lab3/.ipynb_checkpoints/Starting_Lab3-checkpoint.ipynb
